body {
    font-family: Roboto, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid red; */
    align-items: center;
    padding: 10px;
    max-width: 665px;   
    margin: 0 auto;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    padding: 0 20px;
}

.hero__section, .second__hero__section {
    background-color: #BEE1E6;
    margin: 0 auto;
    color: black;
    width: 1440px;
    height: 532px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    /* display: flex; */
    flex-flow: column nowrap;
    /* justify-content:flex-start; */
    max-width: 665px;
    margin: 0 auto;
    position: relative;
}

.more-links {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 36px;
    background: #006D77;
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.hero__content h1{
    font-weight: 600;
    font-size: 53px;
    width: 500px;
}

.hero__content p {
    width: 75%;
    font-size: 16px;
    font-weight: 300;
    color: #444444;
}

.hero__buttons {
    display: flex;
}

.hero__buttons button{
    margin-right: 50px;
}

.link__one {
    padding: 10px 20px 10px 20px;
    background-color: #BEE1E6;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.start, .works {
    color: #ccc;
    width: 157px;
    height: 58px;
    background: #030303;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.works {
    color: #030303;
    background-color: transparent;
    border: 1px solid #006D77;
}

.hero__image__border {
    width: 315px;
    height: 394px;
    position: relative;
    right: 300px;
    top: 60px;
    border: 2px solid #006D77;
    border-radius: 37px;
}

.hero__image__border img {
    position: relative;
    width: 339px;
    height: 398px;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
    border-radius: 42px;
}

li{
    list-style-type: none;
}
.clients {
    margin: 0 auto;
    width: 1300px;
}

.line {
    margin: 0 auto;
    width: 75%;
    border-bottom: 1px solid #E0E0E0
    ;
}

.clients ul {
    margin: 90px 0;
    display: flex;
    gap: 50px;
    flex-flow: row wrap;
    justify-content: center;
}

.clients ul li {
    margin-top: 13px;
}

.ideas__section {
    width: 1000px;
    margin: 90px auto;
    display: flex;
    /* outline: 1px solid red; */
    justify-content: space-between;
    position: relative;
}

.stocks {
    width: 190px;
    height: 245px;
    position: absolute;
    top: 330px;
    right: 400px;
    border-radius: 14px;
}

.ideas__section-info {
    margin-left: 90px;
    display: flex;
    flex-flow: column wrap;
}

.profile-icon {
    /* outline: 1px solid red; */
    display: flex;
    
}

.profile-icon img {
    padding-right: 10px;
    width: 50px;
}

.ideas__section-testimonials p, .more__ideas-testimonials p {
    padding-left: 50px;
    text-align: justify;
    /* width: 50%; */
    
}

.more__ideas {
    margin: 0 auto;
    text-align: center;
}

.more__ideas-header {
    width: 665px;
    margin: 0 auto;
}

.more__ideas-testimonials ul {
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.more__ideas-testimonials ul li {
    margin-right: 50px;
}

.more__ideas-testimonials p {
    width: 200px;
}

.second__hero-testimonials ul{
    display: flex;
}

.copyright {
    width: 100%;
    display: flex;
    
    margin: 0 auto;
    margin-top: 150px;
}

.copyright div {
    padding: 50px;
    margin: 0 auto;
}

footer {
    margin: 0 auto;
    padding: 60px;
    background-color: #006D77;
    color: #fff;
    text-align: center;
}
